body{
    text-align:center;
}
nav{
    background-color: black;
    color:white;
    height: 50px ;
}
.formulario{
    border: 1px solid black;
    width: 15%;
    text-align: left;
    margin-left: 40%;
    padding-left:5px;
    padding-top: 5px;
}
.bot{
    margin-left: 50%;
}
a:visited{
    color:white;
}
a:active{
    color:silver;
}